@charset "utf-8";
/* CSS Document */

.shadow {
  width: 300px;
  float:left;
  background: url(shadowAlpha.png) no-repeat bottom right !important;
  background: url(shadow.gif) no-repeat bottom right;
  margin: 10px 0 0 10px !important;
  margin: 10px 0 0 5px;
  clear:both;
}

.shadow div {

  padding: 0 !important;
  padding: 0 6px 6px 0;
  clear:both;
}

.content-body {
  color: #777;
  background-color: #fff;
  font: italic 1em georgia, serif;
  border: 1px solid #a9a9a9;
  padding: 4px;
  margin: -6px 6px 6px -6px !important;
  margin: 0;
  text-align: center;
  clear:both;
}
  
.center {
	width:310px;
	margin-left: auto;
	margin-right: auto;
	float:center;
}
body {
	background-color: #CCCCCC;
	
}

a:link { 
	color: #000000;
	}
a:visited { 
	color: #000000;
	}
a:hover { 
	color: #111111;
	text-decoration: none;
	}
a:active { 
	color: #000000;
	}
	
.smalltext {
	font-size: 9px;
}
.tweet-text {
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}
.tweet {
	color: #000000;
}